@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Universal styles */
body{
    font-family: "Quicksand", serif;
}

/* Shared styles */
.btn-primary{
    color: white;
    background-color: rgb(254, 163, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
.primary-dark{
    color: rgb(17, 17, 17);
}
.display-flex{
    display: flex;
}

.hidden{
    display: none;
}


/* Navbar related styles */

nav > ul > li{
    list-style: none;
    margin: 0 20px;
}
nav > ul> li> a{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    height: 62px;
    margin: 0 auto;

}
.nav-title{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
}
#home{
    color: rgb(254, 163, 1);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
}
#about{
    color: rgb(93, 88, 239);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
}
#facilities{
    color: rgb(5, 212, 223);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
}
#admission{
    color: rgb(1, 172, 253);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
}
.small-device-navbar{
    display: flex;
    justify-content: space-between;
}
#small-device-nav-image-1{
    width: 50px;
    height: 50px;
    margin-left: 0%;
}
#small-device-nav-image-2{
    width: 40px;
    height: 40px;
    margin-right: 0%;
}

/* Navbar styles for Small device */

@media screen and (max-width: 576px) {
    .navbar{
        display: none;
    }
    .hidden{
        display: block;
    }
    .small-device-navbar{    
        border-bottom: 1px solid rgb(254, 163, 1);
        margin-top: 5px ;
        padding: 8px;
    }
}


/* Hero section related styles */
.hero-container{
    width: 1160px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.hero-items{
    margin-right: 25px;
}

.hero-title{
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
}
.hero-description{
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;
}
#empowering{
    color: rgb(254, 163, 1);
}
#vision{
    color: rgb(1, 172, 253);
}

/* Hero section styles for small devices */

@media screen and (max-width: 576px) {
    .hero-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 355px ;
        height: auto;
    }
    .hero-items{
        width: 335px;
        max-height: auto;
        text-align: center;
        padding: 10px;
    }
    #hero-image{
        max-width: 335px;
        max-height: 410px;
    }
    .hero-title{
        text-align: center;
    }
    .hero-description{
        text-align: center;
    }
}